@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Poppins;
  src: url("../public/Poppins-Regular.ttf");
}

body {
  font-family: Poppins, sans-serif;
  margin: 0;
  background-color: #f5f5f5;
}

input {
  outline: none;
}

label {
  margin-bottom: 5px;
}

.hero-section {
  width: 100vw;
  /* aspect-ratio: 1 / 1; */
  background-image: url("../public/fachry-zella-devandra-bNSdIkCBJOs-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero-section::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
}

.close-notify,
.open-notify,
.open-cart,
.close-cart {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.animate-cart-btn,
.static-cart-btn {
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

::-webkit-scrollbar {
  display: none;
}

.media-scroller {
  display: grid;
  gap: 1rem;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  grid-auto-flow: column;
  overflow-x: auto;
  padding: 0 1rem;
  gap: 1rem;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

.media-element {
  display: grid;
  grid-template-rows: min-content;
  /* padding: 1rem; */
  border-radius: 4px;
}

/* .media-element {
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
} */

.close-notify {
  transform: translate3d(0, -58px, 0);
  transition-property: transform;
}

.open-notify {
  transform: translate3d(0, 0, 0);
  transition-property: transform;
}

.open-cart {
  transform: translate3d(0, 0, 0);
  transition-property: transform;
}

.close-cart {
  transform: translate3d(100%, 0, 0);
  transition-property: transform;
}

.animate-cart-btn {
  transform: translate3d(3rem, 0, 0);
  animation-delay: 0.3s;
}

.static-cart-btn {
  transform: translate3d(0, 0, 0);
}

.open-size-modal {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease-out;
}

.close-size-modal {
  visibility: hidden;
  opacity: 0;
  transform: translate3d(0, 2rem, 0);
  transition: all 0.2s ease-in;
}

.overlay {
  height: 100vh;
}

#menu-button span {
  width: 1.3rem;
  height: 2px;
  background: #000;
  border-radius: 2px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.button.mobile-nav-open span:nth-child(1) {
  transform: translate3d(0, 6px, 0) rotate(45deg);
}
.button.mobile-nav-open span:nth-child(2) {
  /* transform: translate3d(0, -6px, 0) rotate(45deg); */
  transform: scaleX(0);
  opacity: 0;
}
.button.mobile-nav-open span:nth-child(3) {
  transform: translate3d(0, -6px, 0) rotate(-45deg);
}

#menu-button.burgerWhite span {
  background-color: #f5f5f5;
}

#menu-button.burgerDark span {
  background-color: #000000;
}

.mobile-nav.mobile-nav-close {
  visibility: hidden;
}

.circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #fe5d26;
  animation: 1s infinite ease-in-out scaleUp;
}

.animation-container div:nth-child(1) {
  animation-delay: -0.32s;
}

.animation-container div:nth-child(2) {
  animation-delay: -0.16s;
}

.see::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 1rem;
  right: 0;
}

.open-side-bar {
  transform: translateX(0);
  transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.close-side-bar {
  transform: translateX(100%);
  transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.open-search {
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.close-search {
  visibility: hidden;
  opacity: 0;
  /* display: none; */
  transform: translate3d(-100%, 0, 0);
  transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.show-search-input {
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.hide-search-input {
  visibility: hidden;
  opacity: 0;
  transform: translate3d(1rem, 0, 0);
  transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.search-input {
  background: transparent;
  color: black;
}

.shift-img {
  margin-left: 16px;
  transition: margin 0.2s ease-in-out;
}

.unshift-img {
  margin-left: 0px;
  transition: margin 0.2s ease-in-out;
}

.scroll {
  scroll-snap-type: mandatory;
  overflow-y: scroll;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 2fr)); /* Responsive grid columns */
  gap: 0; /* No gap between grid items */
}

.grid-item:nth-child(1){
  background: url('../public/the-dk-photography-NUoPWImmjCU-unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-item:nth-child(2){
  background: url('../public/adidasbg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-item:nth-child(3){
  background: url('../public/nikebg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-item:nth-child(4){
  background: url('../public/nbbg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-item::before {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}

.grid-item {
  width: 100%; /* Ensure grid items take up entire width of grid container */
  height: 0; /* Set height to 0 initially */
  padding-bottom: 100%; /* Maintain aspect ratio (square grid item) */
  background-size: cover;
  background-position: center;
  position: relative;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust grid columns for smaller screens */
  }
}


@keyframes scaleUp {
  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}
