@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: BRHendrix;
  src: url("../public/BRHendrix-Regular-BF6556d1b5096f9.otf");
}

@font-face {
  font-family: BRHendrixBold;
  src: url("../public/BRHendrix-Bold-BF6556d1b5459d3.otf");
}

@font-face {
  font-family: Expansiva;
  src: url("../public/Expansiva.otf");
}

body {
  font-family: BRHendrix, sans-serif;
  margin: 0;
  background-color: #f5f5f5;
  position: relative;
}

.logo {
  font-family: Expansiva;
}

input {
  outline: none;
  font-size: 16px;
  background: transparent;
  -webkit-appearance: none;
  border-radius: 0;
}

.brands svg {
  width: 100%;
  height: 100%;
}

.img-current {
  transform: scale(1.2);
  filter: none;
  transition: transform 0.5s ease, filter 0.5s ease-in-out;
}

.nav-links ul h2 {
  position: relative;
}

.nav-links ul h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #000000;
  transition: width 0.5s ease;
}

.nav-links ul h2:hover::before {
  width: 100%;
}

.img-not-current {
  filter: grayscale();
  transform: scale(1);
  transition: transform 0.5s ease, filter 0.5s ease-in-out;
}

.dropdown-content {
  visibility: hidden;
  transform: translate3d(0, -100%, 0);
  transition: visibility 0.25s ease, transform 0.25s ease;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: visibility 0.25s ease, transform 0.25s ease;
}

.dropdown-content ul {
  transform: translate3d(0, -1rem, 0);
  opacity: 0;
  transition: transform 0.25s ease 0.3s;
}

.dropdown:hover .dropdown-content ul {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.25s ease 0.3s, opacity 0.25s ease 0.3s;
}

input {
  background: transparent;
}

label {
  margin-bottom: 5px;
}

.hero-heading {
  font-family: HelveticaNowText;
}

.hero-section {
  width: 100vw;
  background-image: url("../public/fachry-zella-devandra-bNSdIkCBJOs-unsplash\ \(1\).jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero-section::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
}

.close-notify,
.open-notify,
.open-cart,
.close-cart {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.07, 0.26, 0.7, 0.92);
}

.active-search {
  visibility: visible;
}

.inactive-search {
  visibility: hidden;
}

.desktop-search-input {
  transform: translate3d(3rem, 0, 0);
}

.desktop-search-input.animate-search-input {
  transform: translate3d(0rem, 0, 0);
  transition: transform 0.25s ease;
}

.initial-search-inactive {
  transform: translate(0, 0, 0);
  transition: transform 0.25s ease;
}

.initial-search-active {
  transform: translate3d(-1rem, 0, 0);
  transition: transform 0.25s ease;
}

.animate-cart-btn,
.static-cart-btn {
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

::-webkit-scrollbar {
  display: none;
}

.media-scroller {
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  padding: 0 1rem;
  display: flex;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

.media-element {
  display: grid;
  grid-template-rows: min-content;
  /* padding: 1rem; */
  border-radius: 4px;
}

/* .media-element {
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
} */

.item {
  flex: 0 0 auto;
  margin-right: 20px; /* Add margin between items */
}

.close-notify {
  transform: translate3d(0, -100px, 0);
  transition-property: transform;
}

.open-notify {
  transform: translate3d(0, 0, 0);
  transition-property: transform;
}

.open-cart {
  transform: translate3d(0, 0, 0);
  transition-property: transform;
}

.close-cart {
  transform: translate3d(100%, 0, 0);
  transition-property: transform 0.4s;
}

.animate-cart-btn {
  transform: translate3d(3rem, 0, 0);
  animation-delay: 0.3s;
}

.static-cart-btn {
  transform: translate3d(0, 0, 0);
}

.open-size-modal {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease-out;
}

.close-size-modal {
  visibility: hidden;
  opacity: 0;
  transform: translate3d(0, 2rem, 0);
  transition: all 0.2s ease-in;
}

.overlay {
  /* height: 100vh;
  width: 100vw; */
  transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
}

#menu-button span {
  width: 1.3rem;
  height: 2px;
  background: #000;
  border-radius: 2px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.button.mobile-nav-open span:nth-child(1) {
  transform: translate3d(0, 6px, 0) rotate(45deg);
}
.button.mobile-nav-open span:nth-child(2) {
  /* transform: translate3d(0, -6px, 0) rotate(45deg); */
  transform: scaleX(0);
  opacity: 0;
}
.button.mobile-nav-open span:nth-child(3) {
  transform: translate3d(0, -6px, 0) rotate(-45deg);
}

#menu-button.burgerWhite span {
  background-color: #f5f5f5;
}

#menu-button.burgerDark span {
  background-color: #000000;
}

.mobile-nav.mobile-nav-close {
  visibility: hidden;
}

.circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #fe5d26;
  animation: 1s infinite ease-in-out scaleUp;
}

.loader .circle:nth-child(1) {
  animation-delay: -0.32s;
}
.loader .circle:nth-child(2) {
  animation-delay: -0.16s;
}

.popular-search h5,
.popular-search ul li {
  transform: translate3d(0, 0px, 0);
  opacity: 0;
}

.popular-search.active h5,
.popular-search.active ul li {
  transform: translate3d(0, 5px, 0);
  opacity: 1;
  transition: transform 0.35s ease, opacity 0.35s ease;
  transition-delay: 0.3s;
}

.popular-search.active li:nth-child(1) {
  transition-delay: 0.35s;
}
.popular-search.active li:nth-child(2) {
  transition-delay: 0.4s;
}
.popular-search.active li:nth-child(3) {
  transition-delay: 0.45s;
}
.popular-search.active li:nth-child(4) {
  transition-delay: 0.5s;
}

.see::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 1rem;
  right: 0;
}

.open-side-bar {
  transform: translateX(0);
  transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.close-side-bar {
  transform: translateX(100%);
  transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.open-search {
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.close-search {
  visibility: hidden;
  opacity: 0;
  /* display: none; */
  transform: translate3d(-100%, 0, 0);
  transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.show-search-input {
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.hide-search-input {
  visibility: hidden;
  opacity: 0;
  transform: translate3d(1rem, 0, 0);
  transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.search-input {
  background: transparent;
  color: black;
}

.shift-img {
  margin-left: 16px;
  transition: margin 0.2s ease-in-out;
}

.unshift-img {
  margin-left: 0px;
  transition: margin 0.2s ease-in-out;
}

#scroll {
  scroll-snap-type: mandatory;
  overflow-y: scroll;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 2fr)
  ); /* Responsive grid columns */
  gap: 0; /* No gap between grid items */
}

.brandCards {
  position: relative;
}

.open-product-search {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out,
    transform 0.3s ease-out;
}

.close-product-search {
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, 100%, 0);
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out,
    transform 0.3s ease-out;
}

.open-search-nav {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out,
    transform 0.3s ease-out;
}

.close-search-nav {
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, -100%, 0);
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out,
    transform 0.3s ease-out;
}

.hide-search-results {
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, 1rem, 0);
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out,
    transform 0.3s ease-out;
}

.show-search-results {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out,
    transform 0.3s ease-out;
}

.slide-left {
  opacity: 0;
  transform: scale(0);
  animation: slideLeft 1s ease-out 1s forwards;
}

.slide-up {
  opacity: 0;
  transform: translateY(40px);
  animation: slideUpAnimation 1s ease forwards;
}

.zoom-img {
  transform: scale(0.97);
  transition: transform 0.3s ease;
}

.zoom-img:hover {
  transform: scale(1);
  transition: transform 0.3s ease;
}

.open-order-success {
  transform: scale(0.2);
  animation: popOut 1s ease forwards;
}

.slider-item {
  opacity: 0;
  transition: opacity 0.5s ease;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slider-item::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.slider-item.active {
  opacity: 1;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content {
  position: absolute;
  top: 50%;
  left: 5%;
  color: #fff;
}

.grid-items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.open-shoe-size {
  transform: translate3d(0, 0, 0);
  transition: transform 0.25s ease-in-out;
}

.close-shoe-size {
  transform: translate3d(0, 100%, 0);
  transition: transform 0.25s ease-in-out;
}

.overlay.active-overlay {
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.4);
}

.overlay.inactive-overlay {
  opacity: 0;
  visibility: hidden;
}

.slider-container {
  width: 100%;
  overflow: hidden;
}
.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.active-index {
  background-color: #fe5d26;
  transition: background-color 0.5s ease-in-out;
}

.inactive-index {
  background-color: #f8f9fa;
  transition: background-color 0.5s ease-in-out;
}

.open-confirm-modal {
  visibility: visible;
  opacity: 1;
  scale: 1;
  transition: scale 0.25s ease-in-out, opacity 0.25s ease-in-out,
    visibility 0.25s ease-in-out;
}

.close-confirm-modal {
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  transition: scale 0.25s ease-in-out, opacity 0.25s ease-in-out,
    visibility 0.25s ease-in-out;
}

@keyframes popOut {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slideUpAnimation {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes scaleUp {
  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}
