@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

.media-scroller {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: min-content;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  padding: 0 1rem;
  gap: 1rem;
}

.snaps {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}
.snaps > * {
  scroll-snap-align: start;
}
