@font-face {
  font-family: PoppinsBold;
  src: url("../public/Poppins-Bold.ttf");
}

@font-face {
  font-family: PoppinsSemibold;
  src: url("../public/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: PoppinsRegular;
  src: url("../public/Poppins-Regular.ttf");
}

@font-face {
  font-family: NikeFont;
  src: url("../public/futura-nd-for-nike-365-snkrs-cn-xbd.ttf");
}

@font-face {
  font-family: HelveticaNowText;
  src: url("../public/helveticanowtext-bold-demo.ttf");
}

h1 {
  font-family: NikeFont;
  font-size: 24px;
}

h2 {
  font-family: NikeFont;
  font-size: 18px;
}

h3 {
  font-family: HelveticaNowText;
  font-size: 18px;
}

h4 {
  font-family: HelveticaNowText;
  font-size: 16px;
}

h5 {
  font-size:  HelveticaNowText;
  font-size: 16px;
}

caption,
p {
  font-family: HelveticaNowText;
  font-size: 12px;
}

button {
  font-family: HelveticaNowText;
  font-size: 16px;
}
